################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AdventOfCode23/bin/Debug/net6.0
/AdventOfCode23/obj
